<!DOCTYPE html>
<html>
<head>
  <title>プロトレーナー派遣サイト</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="slick/slick.css">
  <link rel="stylesheet" href="slick/slick-theme.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="slick/slick.min.js"></script>
  </head>
<body>

<div class="top-header">
  <div class="header-title">

  <nav>
    <ul>
      <li><h3>プロトレーナー派遣サイト</h3></li>
      <li><%= link_to 'トップへ', root_path %></li>
      <li><%= link_to '初めての方へ', static_pages_about_path %></li>
      <li><%= link_to '料金プラン', static_pages_money_path %></li>
      <li><%= link_to 'トレーナー検索'  %></li>
      <li><%= link_to '新規登録'  %></li>
    </ul>
  </nav>
</div>

</div>














<%= yield %>
